<div class='site-wrapper-change'>
    <nav>
        <div class='go-back-container'>
            <a class='go-back' href='/weeks/new'>Go Back</a>
        </div>
    </nav>

            <h1>Upload a New Meal Image</h1>
            <div class='text-pretty'>All Images will be Cropped To Square.</div>
        <form action='/weeks/images/' method='POST'>
            <div class='text'>Paste URL: </div>
            <br>
                <div><input type='text' name='src'></div>
            <div class='semicircle-bottom'>
                <div><input class='input' type='submit' value='Create New Meal'></div>
            </div>
        </form>

</div>