<div class='site-wrapper'>
    
    <header>
        <div class='semicircle-top'>
            <p class='site-title'>pantry</p>
        </div>
    </header>

    <main>
        <div class='cushion'></div>
        <h1 class='half-width'> What Kind of Week Is it?</h1>
        <div class='subheading'>Select A Week to get started.</div>
        <div class='week-square-container'>
            {{#each week}}
            <div class='week-square-child'>
                <a href='/weeks/{{this._id}}'>
                    <img class='week-square' src='{{this.img}}' alt='{{this.name}}'>
                    <div class='text'>{{this.name}}</div>
                </a>
            </div>
            {{/each}}
        </div>
    </main>

    <div>
        <div class='my-button'><a href='/weeks/new'>
                <p class='inside-my-button'>create a new week!</p>
            </a></div>
    </div>
    
</div>