<div>
    What Kind of Week Is It?
</div>
<br>
<div>
    {{#each week}}
    <div>
        <div>{{this.name}}</div>
        <a src='#' href='/weeks/{{this._id}}'>View Meals</a>
    </div>
    <br>
    {{/each}}
</div>
<br>
<a href='/weeks/new'>Add a New Meal</a>
