<div id='site-wrapper'>
    <header>
        <div class='semicircle-top'>
            <p class='site-title'>pantry</p>
        </div>
    </header>
    <main>
        <div class='cushion'></div>    
        <h1> What Kind of Week Is it?</h1>
        <div class='week-square-container'>
            {{#each week}}
            <div class='week-square-child'>
                <a href='/weeks/{{this._id}}'>
                    <img class='week-square' class='thumbnail' src='{{this.img}}' alt='{{this.name}}'>
                    <div>{{this.name}}</div>
                </a>
            </div>
            {{/each}}
        </div>
    </main>
    <footer>
        <div class='my-button'>
            <p><a href='/weeks/new'></a>Create A New Week!</a></p>
        </div>
    </footer>
</div>