<div id='wrapper'>
<header>
<div class='semicircle-top'>
    <p class='site-title'>pantry</p>
</div>
</header>

<h1> What Kind of Week Is It?</h1>
<br>
<div>
    {{#each week}}
    <div>
        <div>{{this.name}}</div>
        <a src='#' href='/weeks/{{this._id}}'>View Meals</a>
    </div>
    <br>
    {{/each}}
</div>
<br>
<a href='/weeks/new'>Add a Week!</a>
</div>