<div>Make a New Meal!</div>

<form action='/weeks' method='POST'>
<div>Name Your Meal: <input type='text' name='New Meal Name'</div>
<div>///Choose an Image///</div>
<div><input type='submit' value='Create New Meal'</div>
</form>