<div class='site-wrapper'>

<h1>Make a New Week!</h1>

<form action='/weeks' method='POST'>
<div>Name Your Week: <input type='text' name='name'></div>
<br>
<div><input type='submit' value='Create New Week'></div>
</form>
</div>