<div class='wrapper-fixed'>
    <div class='page-flex-container'>

        <div class='overflow'>
            <div class='go-back-container'>
                <a class='go-back' href='/weeks/'>Go Back</a>
            </div>
            
            <h1 class='top-padding'>New Week</h1>
            <div>
                <form class='text-serif' action='/weeks' method='POST'>
                    <div class='space-around'> Title: <input type='text' name='name'></div>

                    <div>Select an Image
                        <a class='alt-button' href='./images/new'> OR Add Your Own!</a>
                    </div>
                    <div class='new-meal-img-grid'>
                        {{#each image}}
                        <div>
                            <div>
                                <input type="radio" name="img" value='{{this.src}}'>
                            </div>
                            <div><img class='thumbnail' src='{{this.src}}'></div>
                        </div>
                        {{/each}}
                        <div class='big-cushion'
                    </div>
            </div>

            <div class='semicircle-bottom'><input class='input' type='submit' value='create'></div>
            </form>
        </div>
    </div>