<div class='site-wrapper-new-week'>
    <nav>
        <div class='go-back-container'>
            <a class='go-back' href='/weeks/'>Go Back</a>
        </div>
    </nav>
    <div>
        <form action='/weeks' method='POST'>
                <h1 class='half-width'>New Week</h1>
                <div class='space-around'>
                    
                    Title: <input type='text' name='name'></div>

                <div class='space-around'>Image: 
                    
                    Select Image <input type='text' name='img'>
                    
                    </div>
            <div class='semicircle-bottom'><input class='input' type='submit' value='create'></div>
        </form>
    </div>
</div>