<div>Make a New Week!</div>

<form action='/weeks' method='POST'>
<div>Name Your Week: <input type='text' name='name'</div>
<div>///Choose an Image///</div>
<div><input type='submit' value='Create New Meal'</div>
</form>