<h1>{{week.name}}</h1>
 <a href='/weeks/{{week._id}}/edit'>Edit this Week</a>
<br>
<div>
    {{#each week.meals}}
       {{this.name}}
       {{!-- <a href='/weeks/{{this._id}}/edit'>Edit this Meal</a> --}}
    {{/each}}
</div>
<div>
    Add a Meal+
</div>
<div>
    <a href='/weeks'>Back to Main</a>
</div>