.site-wrapper-change {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/subwaytile.jpg') repeat;
    background-size: cover;
}

.site-wrapper-new-meal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/subwaytile.jpg') repeat;
    background-size: cover;
}

.wrapper-fixed {
    height: 100vh;
    background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/subwaytile.jpg') no-repeat;
    overflow: scroll;
    background-size: cover;
}

.page-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.go-back-container {
    text-align: right;
    margin: 1rem 1rem 1rem 0;
    top: 0;
    right:0;
}

.go-back {
    font-size: .75rem;
    text-align: right;
    text-decoration: none;
    color: white;
    background: rgba(47, 79, 79, 0.3);
    padding: .5rem .5rem;
    border-radius: .25rem;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.no-going-back {
    margin: 1rem 1rem 1rem 0;
    font-size: .75rem;
    text-decoration: none;
    color: white;
    background: rgba(47, 79, 79, 0.3);
    padding: .5rem .5rem;
    border-radius: .25rem;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.lil-space {
    margin-bottom: 3vh;
    margin-right: 2vh;
    text-align: right;
}

.img-new-meal {
    margin: 2rem;
    border: .5rem solid rgba(47, 79, 79, 0.3);
}

.dark-submit {
    color: white;
    background: rgba(47, 79, 79, 0.5)
}


.semicircle-bottom {
    width: 100%;
    height: 18vh;
    margin: 0;
    background: coral;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.input {
    font-size: 2rem;
    color: whitesmoke;
    font-family: 'Source Serif Pro';
    text-transform: lowercase;
    text-shadow: .5rem .5rem 1rem rgba(103, 78, 69, 0.3);
}

.transparent {
    background: rgba(47, 79, 79, 0.3);
    padding: 4vw;
    margin: 8vw;
}

.delete {
    background-color: rgb(160, 5, 36);
    color: white;
    padding: .75rem;
    border-radius: .75rem;
}

.space-around {
    border: 2em solid transparent;
}

.formatted-form {
    padding-bottom: 1em;
    text-align: left;
}

.tiny-div {
    border: .5rem solid transparent;
}

/* IPAD */
@media only screen and (min-width: 768px) {

.wrapper-fixed {
    height: 100vh;
}
    .go-back {
        font-size: 2rem; 
}

.input {
    font-size: 3rem;
}

.form {
    font-size: 1.5rem;
}

.delete {
    font-size: 1.5rem;
}

}

/* DESKTOP */
    @media only screen and (min-width: 992px) {

    }