body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type:none;
}

/* wrapper is a flex container for entire site */
#site-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/subwaytile.jpg') repeat;
  background-size: cover;
}

.thumbnail{
  width: 100px;
  height: 100px;
}

/* HEADER */
header{
  position: Absolute;
  top: 0;
  left: 0;
}

.semicircle-top{
    width: 100vw;
    height: 20vh;
    margin: 0 auto;
    background: coral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.site-title{
  font-family: 'Source Serif Pro';
  font-size: 9rem;
  letter-spacing: .3rem;
  text-shadow: .5rem .5rem 1rem rgba(113, 37, 9, .3);
  color: rgb(255, 247, 247);
}

/* BODY */
/* #weeks-grid{
  display: grid;
} */

main {
  width: 100%;
  position: relative;
}

.cushion {
  min-height: 10vh;
}

footer {
  background-color: black;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .site-title {
    font-size: 7rem;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .site-title {
    font-size: 5rem;
  }
} 