body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


a {
  color: coral;
  text-decoration: none;
}
a:hover {
  color: rgb(244, 175, 150);
}

ul {
  list-style-type: none;
}

img {
  height: 200px;
  width: 200px;
}

.site-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/subwaytile.jpg') repeat;
  background-size: cover;
}

/* HEADER */
/* 
header {
  position: Absolute;
  top: 0;
  left: 0;
} */

.semicircle-top {
  width: 100vw;
  height: 20vh;
  margin: 0 auto;
  background: coral;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
  filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.site-title {
  font-family: 'Source Serif Pro';
  font-size: 2rem;
  letter-spacing: .3rem;
  text-shadow: .5rem .5rem 1rem rgba(113, 37, 9, .3);
  color: rgb(255, 247, 247);
}

main {
  width: 100%;
  position: relative;
}

.cushion {
  display: inline-block;
  height: 20rem;
}

h1 {
  font-family: 'Abril Fatface', serif;
  font-size: 2rem;
  letter-spacing: .2rem;
  width: 100vw;
  margin: 0 auto 2rem auto;
}

/* .week-square-container {
  display: grid;
  grid-template-columns: 25rem 25rem;
  grid-template-rows: 25rem 25rem;
  grid-gap: 5rem;
  justify-items: center;
}

img.week-square {
  width: 20rem;
} */

.text {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

footer {
  bottom: 0;
  position: absolute;
}

div.my-button {
  font-family: 'Source Serif Pro';
  margin-bottom: 2vh;
  font-size: 2rem;
  text-align: center;
  color: white;
  background: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

p.inside-my-button {
  color: whitesmoke;
  margin: 0 auto;
  padding: 1rem;
  text-shadow: .5rem .5rem 1rem rgba(103, 78, 69, 0.3);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .site-title {
    font-size: 7rem;
  }
  .cushion {
    display: inline-block;
    min-height: 5vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .site-title {
    font-size: 5rem;
  }
  .cushion {
    display: inline-block;
    height: 25vh;
  }
  .whatkindofweekisit {
    font-size: 4rem;
  }
}