body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

img {
  height: 200px;
  width: 200px;
}

a {
  color: coral;
}
a:hover {
  color: rgb(244, 175, 150);
}

ul {
  list-style-type: none;
}

#site-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/subwaytile.jpg') repeat;
  background-size: cover;
}

/* HEADER */

header {
  position: Absolute;
  top: 0;
  left: 0;
}

.semicircle-top {
  width: 100vw;
  height: 20vh;
  margin: 0 auto;
  background: coral;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
  filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.site-title {
  font-family: 'Source Serif Pro';
  font-size: 9rem;
  letter-spacing: .3rem;
  text-shadow: .5rem .5rem 1rem rgba(113, 37, 9, .3);
  color: rgb(255, 247, 247);
}

/* BODY */

main {
  width: 100%;
  position: relative;
}

.cushion {
  min-height: 10vh;
}

.whatkindofweekisit {
  font-family: 'Abril Fatface', serif;
  font-size: 6rem;
}

/* .week-square-container {
  display: grid;
  Grid-template-columns: 100px 100px;
  Grid-template-columns: 100px 100px;
} */

img {
  height: 100 px;
  width: auto;
}

footer {
  bottom: 0;
  position: absolute;
}

.my-button {
  margin-bottom: 5vh;
  padding: 1vh 2vh;
  font-size: 2rem;
  text-align: center;
  color: white;
  background: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .site-title {
    font-size: 7rem;
  }
  .cushion {
    min-height: 5vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .site-title {
    font-size: 5rem;
  }
  .cushion {
    height: 25vh;
  }
  .whatkindofweekisit {
    font-size: 4rem;
  }
}