.site-wrapper-side {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/subwaytile.jpg') repeat;
    background-size: cover;
    overflow: scroll;
}

.top-padding {
    padding-top: 3vh;
}

.semicircle-side {
    height: 100vh;
    width: 18vw;
    margin: 0;
    background: coral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-top-right-radius: 200%;
    border-bottom-right-radius: 200%;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.side-text {
    writing-mode: vertical-lr;
    margin: 1rem;
    font-size: 2rem;
    color: white;
    font-family: 'Source Serif Pro', serif;
    text-transform: lowercase;
}

.side-main {
    height: 100%;
    padding-left: 25vw;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    text-align: left;
}

.img-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.meal-image {
    border-radius: .25rem;
    height: 8rem;
    width: auto;
    border: .5rem solid rgba(47, 79, 79, 0.3);
}


.my-button {
    font-family: 'Source Serif Pro';
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 1.25rem;
    text-align: center;
    color: white;
    background: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
  }
  

.shoppinglist {
    font-family: 'Source Serif Pro';
    color: white;
    background: coral;
    font-size: 1.25rem;
    text-align: left;
    align-self: center;
    margin: 0 2rem 0 1rem;
    padding: 1rem;
    border-radius: .25em;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.week-meal-list {
    margin-top: 1.5rem;
}

.meal-title {
    font-size: 1.25rem;
    margin: 0 auto;
}

.meal-description {
    margin: 0 auto;
}

.add-week {
    font-family: 'Source Serif Pro';
    font-size: 1.25rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.add-week-inside {
    color: whitesmoke;
    background-color: coral;
    margin: 0 auto;
    padding: .3rem .5rem;
    text-shadow: .5rem .5rem 1rem rgba(103, 78, 69, 0.3);
}

.new-meal-img-grid {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    justify-items: center;
}

.thumbnail {
    width: 5rem;
    height: auto;
}

/* IPADS */
@media only screen and (min-width: 768px) {

.side-text {
    font-size: 3rem;
  }

.go-back-container{
    margin-top: 3rem;
}

a.no-going-back{
    font-size: 2rem;
    margin-top: 3rem;
}

.meal-image {
    height: 25vh;
    width: auto;
}

.shoppinglist {
    font-size: 2rem;
    text-align: left;
    align-self: center;
    margin: 0 2rem 0 1rem;
    padding: 1rem;
    border-radius: .25em;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.meal-title {
    font-size: 3rem;
}

.meal-description {
    font-size: 1.5rem
}
.new-meal-img-grid {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    justify-items: center;
    margin-left: 5vh;
    margin-right: 5vh;
}

}

/* DESKTOP */
@media only screen and (min-width: 992px) {
