.site-wrapper-side {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/subwaytile.jpg') repeat;
    background-size: cover;
}

/* .site-wrapper-new-week {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent, rgba(228, 224, 224, .2), rgba(72, 70, 70, .3)), url('/images/salad.jpg');
} */

.top-padding {
    padding-top: 3vh;
}

.semicircle-side {
    height: 100vh;
    width: 18vw;
    margin: 0;
    background: coral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 200%;
    border-bottom-right-radius: 200%;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.side-text {
    writing-mode: vertical-lr;
    margin: 1rem;
    font-size: 2rem;
    color: white;
    font-family: 'Source Serif Pro', serif;
    text-transform: lowercase;
}

.side-main {
    height: 100%;
    padding-left: 8vw;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    text-align: left;
}

/* .breadcrumbs-container {
    margin: 1rem 1rem 5rem 0;
}

.breadcrumbs {
    font-size: .75rem;
    text-align: right;
    text-decoration: none;
    color: white;
    background: rgba(47, 79, 79, 0.3);
    padding: .5rem .5rem;
    border-radius: .25rem;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
} */

.meal-image {
    border-radius: .25rem;
    height: 8rem;
    width: auto;
    border: .5rem solid rgba(47, 79, 79, 0.3);
}

.meal-title {
    font-size: 2rem;
}

.add-week {
    font-family: 'Source Serif Pro';
    font-size: 1.25rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
    filter: drop-shadow(.5rem .5rem 1rem rgba(65, 48, 42, 0.3));
}

.add-week-inside {
    color: whitesmoke;
    background-color: coral;
    margin: 0 auto;
    padding: .3rem .5rem;
    text-shadow: .5rem .5rem 1rem rgba(103, 78, 69, 0.3);
}

.week-footer {
    margin-bottom: .5rem;
}

.new-meal-img-grid {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    justify-items: center;
}

.thumbnail {
    width: 5rem;
    height: auto;
}