<div>Make a New Meal!</div>
<br>
<form action='/weeks/{{weeksId}}/meals/' method='POST'>
<div>Name Your Meal: <input type='text' name='name'></div>
<div><input type='submit' value='Create New Meal'></div>
</form>
