{{!-- In the Object week that was generated
using the id for the week this meal is located,
I want to refer to its key value meals
and the information in the array inside it. --}}


{{!-- <h1>Meal: {{meal.name}}</h1> --}}
<p> Ingredients here!</p>
<br>
<div>
{{!-- {{#each meal.item}}
    {{item.name}}
{{/each}} --}}
<p></p>
</div>
<a href='meals/edit'>Link to Edit Meals</a>